.container {
    width: 1200px;
    margin: 0 auto;
}
.price {
    overflow: hidden;
}

.price .container {
    position: relative;
    padding-bottom: 121px;
}

.price .sub_title {
    margin-bottom: 20px;
}

.price_text {
    font-size: 16px;
    line-height: 21px;
    color: #5D5D5F;
    margin-bottom: 60px;
}

.price_form {
    max-width: 344px;
}

.price_input {
    padding: 22px 18px;
    width: 344px;
    height: 65px;
    background: #FFFFFF;
    border: 1px solid #5D5D5F;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
}

.price_input::placeholder {
    color: #5D5D5F
}

.button_send {
    width: 100%;
    padding: 20px;
}

.price_image {
    position: absolute;
    bottom: 0;
    left: 401px;
}