.container {
    width: 1200px;
    margin: 0 auto;
}

.car {
    padding: 20px 0;
}
.sub_title {
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #030305;
}

.car_items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.button {
    margin-top: 20px;
    width: 100%;
    height: 54px;
    padding: 15px;
}